<style>

body {
	background-image: url('assets/italy.jpg');
}

</style>

<!-- <h1> about me </h2> -->


<div class="container-fluid">
	<div class="about-container">
		<h1>phillip lisovicz</h1>

		<p class="about-wrapper">
		good || vibes || only
		</br></br>
		<span class="signature">  made with rails  </span>

		</br></br>
		full stack | web developer | artist | thinker

		</br>
		<span class="signature"> phillip.lisovicz@gmail.com </span>
	</div>


	<div class="links-container">
		<h1></h1>

		<div class="grid">
			<div class="grid-item">
				<a class="article-title"href="http://www.paulgraham.com/hp.html"> Hackers and Painters </a>
				<div class="box" style="display:none;">
					<iframe src="http://www.paulgraham.com/hp.html" width = "" height = "100px"></iframe>
				</div>
			</div>

		</div>



	</div>

</div>
