<style>

.box{
    /*display: none;*/
      position: relative;
    z-index: 100;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

body {
	background-image: url('assets/italy.jpg');
}

</style>

<!-- <h1> about me </h2> -->
<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>


<div class="container-fluid">
	<div class="about-container">
		<h1>phillip lisovicz</h1>

		<p class="about-wrapper"> 
		good || vibes || only
		</br></br>
		<span class="signature">  made with rails  </span>

		</br></br>
		Full Stack @eXelate

		</br>
		<span class="signature"> phillip.lisovicz@gmail.com </span>
	</div>


	<div class="links-container">
		<h1>good reads</h1>

		<div class="grid">
			<div class="grid-item">
				<a href="http://www.paulgraham.com/hp.html"> Hackers v Painters </a>
				<div class="box">
					<iframe src="http://www.paulgraham.com/hp.html" width = "" height = "100px"></iframe>
				</div>
			</div>

		</div>



	</div>

</div>