/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.grid {
    width: 90%;
    margin-left: 5%;
}

.grid-item {
    width: 300px;
    margin-bottom: 1em;
}

#non-media {
    border: 1px solid black;
    /*margin: 1em;*/
    padding: 5em;
    width: 300px;
    margin-bottom: 1em;
}

h1, h2, h3 {
	text-align: center;
}

input#post_body {
  /*background-color: green;*/
  width: 25em;
  height: 10em;
  

  /*resize: none;*/
}

input#post_url {
	width:25em;
}

.new-post {
	width: 40%;
	margin-left: 30%;
	border: 1px solid gray;
	padding: 5em;
}


.grid-item img {
    width: 300px;
}

.about-container {
  text-align: center;
  font-family: helvetica;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
  width: 40%;
  margin-left: 30%;
  padding-bottom: 4em;
  font-weight: 100;
  background-color: white;
}

.links-container {
  /*text-align: center;*/
  font-family: helvetica;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
  width: 80%;
  margin-left: 10%;
  margin-top: 3em;
  margin-bottom: 20em;
  padding-bottom: 4em;
  font-weight: 100;
  background-color: white;
}

.show-container {

}

#image img{
  width: 50%;
  margin-left: 25%;
}

iframe#show-soundcloud {
  width:50%;
  margin-left: 25%;
}

iframe#show-youtube {
  width:70%;
  margin-left: 15%;
  height:500px;
}

a:hover {
  background-color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  background-color: white;
}

a:link {
  text-decoration: none;
  background-color: white;
}


a:active {
  text-decoration: none;
  background-color: white;
}


ul.nav.navbar-nav {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}


.box{
    /*display: none;*/
      position: relative;
    z-index: 100;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
